<div id="jamCircleForm">


  <%= form_for(@jam_circle) do |f| %>
    <% if @jam_circle.errors.any? %>
      <div id="error_explanation" style="display:none">
        <h2><%= pluralize(@jam_circle.errors.count, "error") %> prohibited this jam_circle from being saved:</h2>

        <ul>
        <% @jam_circle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :title, placeholder:"Title", 'data-parsley-required' => 'true' %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder:"Description" %>
    </div>

    <div class="pick-users">
      <span><i class="fa fa-user-plus"></i> Invite Users</span>
      <div class="show-users" style="display:none;">
      <% @user.liked_musicians.each do |m| %>
        <% unless @jam_circle.users.include?(m) %>

          <%= check_box_tag "users[#{m.id}]" %>
          <%= label_tag "users[#{m.id}]" do %><% m.name %><% end %>

        <% end %>
      <% end %>
      </div>


    </div>

    <br/>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>



</div>

  <script type="text/javascript">
    // bind form to parsley
    $('#jamCircleForm form').parsley();

    // show users to select on toggle
    $('.pick-users span:first-child').click(function(){
      $('.show-users').slideToggle();
    });
  </script>
