<div id="jamCircleForm">

  <%= form_for(@jam_circle) do |f| %>
    <% if @jam_circle.errors.any? %>
      <div id="error_explanation" style="display:none">
        <h2><%= pluralize(@jam_circle.errors.count, "error") %> prohibited this jam_circle from being saved:</h2>

        <ul>
        <% @jam_circle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id, value: session[:user_id] %>

    <div class="field">
      <%= f.text_field :title, placeholder:"Title", 'data-parsley-required' => 'true' %>
    </div>
    <div class="field">
      <%= f.text_area :description, placeholder:"Description" %>
    </div>
    <% @user.liked_musicians.each do |m| %>
      <div>
        <%= check_box_tag "users[#{m.id}]" %>
        <%= m.name %>
      </div>
    <% end %>


    <div class="radio-buttons">
      <span>Make This Session:</span>
      <br />
        <%= radio_button_tag(:jamcircletype, "public", 'data-parsley-required' => 'true') %>
        <%= label_tag(:age_child, "Public") %>
<br />
        <%= radio_button_tag(:jamcircletype, "private", 'data-parsley-required' => 'true') %>
         <%= label_tag(:age_adult, "Private") %>
    </div>



    <br/>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>



  </div>

  <script type="text/javascript">
    $('#jamCircleForm form').parsley();
  </script>
