
<%= form_for @clip, html: { class: "jam-clip" } do |f| %>
  <!--  <h2>Upload Sound Clip</h2> -->

  <span class="upload-form">

    <%= f.hidden_field :user_id, :value => session[:user_id] %>
    <%= f.hidden_field :jam_circle_id, :value => @jam_circle.id %>
    <%= f.hidden_field :previous_clip_id %>


  <%= f.text_field :title, placeholder: 'Clip Title', 'data-parsley-required' => 'true', 'data-parsley-trigger' => 'blur' %>

    <%= f.label :instrument, class:"select" do %>
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name, prompt: "Instrument", class:"upload-field-instrument" %>
    <% end %>

    <label class="fileContainer">

      Click To  <span>Upload Clip</span>

      <%= f.file_field 'uploaded_file', class:"custom-file-input1" %>

    </label>


<!--
    <%= submit_tag 'Submit', class: "submit-clip" %>

    <center style="display: none;">

      <i class="fa fa-spinner fa-pulse"></i>

    </center>
-->

  </span>

<% end %>

<script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
<script type="text/javascript">
$(function() {
  $('form').transloadit({
    wait: true,
    triggerUploadOnFileSelection: true,

    params: {
      auth: { key: "2f24b7202b0e11e58964e38e2b13e21e" },
      steps: {
        mp3: {
          use: ":original",
          robot: "/audio/encode",
          preset: "mp3"
        }
      }
    }
  });
});
</script>
