<div class="content-wrapper jam-circle-wrapper">
  <p id="notice" style="display:none;"><%= notice %></p>

  <%= link_to root_path, class:"chevron-back-link" do %>
    <i class="fa fa-chevron-left"></i>
  <% end %>

  <h2>Jam Circle</h2>

  <div class="box">

    <% if @jam_circles.count != 0%>

      <% @jam_circles.each do |jam_circle| %>

      <div class="preferences-label">
        <%= link_to jam_circle do %>
          <div style="width:85%;float:left;">
            <%= jam_circle.title %>
          </div>
        <% end %>
        <% if jam_circle.user_id == session[:user_id] %>
          <div style="width:5%;float:left;"></div>
          <%= link_to jam_circle, method: :delete, data: { confirm: 'Are you sure?' }, class:"destroy-link" do %>
            <div style="width:10%;float:left;">
              x
            </div>
          <% end %>
        <% else %>
          <div style="width:15%;float:left;"
        <% end %>
      </div>
      <% end %>
    <% else %>JamCircle allows musicians to explore various sound and instrument combinations through an easy to use interface.<br /><br />

To begin, search for musicians in your area and be sure to like the ones you want to collaborate with.<br /><br />

 Create a JamCircle and invite any number of musicians to join you.<br /><br />

Upload a root clip and your off!
      <br /><br />


    <% end %>
    <br />

    <%= link_to new_jam_circle_path, class:"create-jam-circle" do %>
    Create a New
    <span>Jam Circle</span>
    <% end %>

  </div>

</div>

</div>
