<div class="content-wrapper">
<p id="notice"><%= notice %></p>

<h1>Listing Jam Circles</h1>

<table>
  <thead>
    <tr>
      <!-- <th>User</th> -->
      <th>Title</th>
      <!-- <th>Description</th> -->
      <th>Open</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jam_circles.each do |jam_circle| %>
      <tr>
        <!-- <td><%= jam_circle.user.name %></td> -->
        <td><%= jam_circle.title %></td>
        <!-- <td><%= jam_circle.description %></td> -->
        <td><%= jam_circle.open %></td>
        <td><%= jam_circle.public  %></td>
        <td><%= link_to 'Show', jam_circle %></td>
        <% if jam_circle.user == @user %>
          <td><%= link_to 'Edit', edit_jam_circle_path(jam_circle) %></td>
          <td><%= link_to 'Destroy', jam_circle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jam Circle', new_jam_circle_path %>
<%= link_to 'Back', root_path %>
</div>
