<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="color:black;">
      Dude, check this modal out!!!!<span class="fa fa-spin" style="color:red">WTF!!!</span>
    </div>
  </div>
</div>

<div class="full-screen">
  <svg></svg>
  <div class="jam-circle">
    <p>
      <%= @jam_circle.user.name.capitalize %>
      -
      <%= @jam_circle.title %>
    </p>

    <% unless @jam_circle.description.blank? %>
      <p>
        <strong>Description:</strong>
        <%= @jam_circle.description %>
      </p>
    <% end %>

    <p>
      <%= @jam_circle.public ? 'Public' : 'Private' %>
      -
      <%= @jam_circle.open ? 'Open' : 'Closed' %>
    </p>

    <% if @jam_circle.user.id == session[:user_id]%>
      <%= link_to 'Edit Jam Circle', edit_jam_circle_path(@jam_circle) %>
    <% end %>

    <% if @jam_circle.clips.any? %>
      <div style="displa:none;" id='side'>
      <h2>Clips</h2>
      <% counter = 1 %>

      <% @jam_circle.clips.each do |clip| %>
        <p>
          <%= counter %>.
          <%= clip.title ? clip.title : 'Untitled' %>
          (id:
          <%= clip.id %>) -
          <% if clip.previous_clip_id %>
          Previous clip id:
          <%= clip.previous_clip_id %>
          <% else %>
          Original
          <% end %>
          -
          <%= link_to 'Download' %>
          -
          <%= link_to 'Add To', '#', class: 'add-to', value: clip.id %>

        </p>
        <% counter += 1 %>
      <% end %>
      </div>

    <% else %>
      <div>
        You Don't have any sound clips lolololololololololololololooolololololo
        <br/>
        Click <%= link_to 'here', "#", class: "add-to" %> to add a the first clip to this jam circle
      </div>
    <% end %>

    <%= render 'jam_circles/new_clip' %><br>
  </div>

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

</div>
<script>
  head();
  foot();
  $(treeBuilderTest(<%= @jam_circle.id %>));

  $(window).resize(function(){
    treeBuilderTest(<%= @jam_circle.id %>);
  });
</script>
