
<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" id="jam-circle-modal">
    <div class="modal-content" style="color:black;">
      <div id="data">
      </div>
      <div id="instrument">
      </div>
      <div id="play-button" class="btn btn-primary">
        <span class="play-span">Play</span>
      </div>
      <a id="download-button" class="btn btn-primary" download>
        Download
      </a>
      <div id="add-to-button" class="btn btn-primary">
        Add Instrument
      </div>
      <div class="upload-wrapper">
        <%= render 'jam_circles/new_clip' %>
      </div>
    </div>
  </div>
</div>

<div class="full-screen">
  <svg></svg>
  <div class="jam-circle">
    <h2>
      <%= link_to jam_circles_path, class:"jam-circle-back-link" do %>
        <i class="fa fa-chevron-left"></i>
      <% end %>
      <span>Jam Circle</span>
    </h2>

    <div class="box">
        <h3><%= @jam_circle.title %>   </h3>
        <% unless @jam_circle.description.blank? %>
            <%= @jam_circle.description %>
        <% end %>
        <% unless @jam_circle.clips.any? %>

        <br /><br /><br />
          Click <%= link_to 'here', '#', class:'add-to', style:'text-decoration:underline;color:#fff;' %> to add the first clip to this Jam Circle.
          <br /><br />

        <% end %>
        <% unless @jam_circle.clips.any? %>
        <div class="upload-wrapper">
          <%= render 'jam_circles/new_clip' %>
        </div>
        <% end %>
        <% if @jam_circle.user_id == session[:user_id] %><%= link_to 'Edit', edit_jam_circle_path(@jam_circle), class:"edit-JC-link" %><% end %>
    </div>



 </div>



 <%# unless @jam_circle.clips.any? %>
 <div class="help-div">Help</div>
 <div class="help-text">
 JamCircle creates a tree diagram that allows users to play, upload and download multiple clips.
 <br /><br />
 The first uploaded clip forms the root of the tree.
 <br /><br />
 To add a branch to the tree find the root clips node, a small circle labeled with the root clips name, and click it.
 <br /><br />
 Download the clip and merge it with a clip of your own making, then upload this clip by clicking "Add Instrument".
 <br /><br />
 To extend the branch, add an instrument to the last node on that branch.
 <br /><br />
 To add a parallel branch, add an instrument to the root clip, or any other clip you wish to branch from.
 </div>
 <%# end %>
</div>













<!-- HIDDEN AUDIO PLAYER -->
<div class="dashboard-music-player" style="display:none;">
  <div id="wrapper">
    <audio preload></audio>
    <ol>
    <% if @jam_circle.clips.any? %>
      <% @jam_circle.clips.each do |clip| %>
        <li>
          <a data-src='<%= clip.uploaded_file %>' href="#" id='clip<%= clip.id%>'>
            <span class="song-title">
              <%= clip.title ? clip.title : clip.uploaded_file_file_name %>
            </span>
            <span class="destroy-clip">X</span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ol>
  </div>
</div>



<script>
$('.help-div').click(function(){
  $('.help-text').fadeToggle();
  if ( $(this).hasClass('help-is-showing') ){
    $(this).removeClass('help-is-showing');
    $('.help-div').text('Help');
  }
  else {
    $(this).addClass('help-is-showing');
    $('.help-div').text('Close');
  }
});
</script>

<script>
    $(treeBuilder(<%= @jam_circle.id %>));
    $(window).resize(function(){
      treeBuilder(<%= @jam_circle.id %>);
    });
</script>

<% if @jam_circle.clips.any? %>
  <script>
    $ (function () {
    // Setup the player to autoplay the next track
      var a = audiojs.createAll({
      });

    // Load in the first track
      var audio = a[0];
      first = $('ol a').attr('data-src');
      $('ol li').first().addClass('playing');
      audio.load(first);

    // Load in a track on click
      $('ol li').click(function (e) {
        e.preventDefault();
        $(this).addClass('playing').siblings().removeClass('playing');
        audio.load($('a', this).attr('data-src'));
        audio.play();
      });

    });

    $(function playButton(){
      $('#play-button').click(function(){
        sumnum = $(this).attr('value');
        $('#clip'+sumnum).click();

        // logic to start and stop the music when pressing play/pause
         if ( $(this).hasClass('jam-circle-playing') ) {
                setTimeout (function(){ $('.pause').click();},100);
                $(this).removeClass('jam-circle-playing');
                  $('#play-button span').text('Play');

                $('')
               }
               else {
                $(this).addClass('jam-circle-playing');
                  $('#play-button span').text('Pause').fadeIn(500);
               }

        // logic to stop the music when clicking outside the modal
         $('#myModal').click(function(){
             console.log('modal clicked 111');
             if (  $('#play-button').hasClass('jam-circle-playing') ) {
               $('#play-button').removeClass('jam-circle-playing') ;
               $('.pause').click();
               $('#play-button span').text('Play');
             }

         });
         $('#jam-circle-modal').click(function(e){
            e.stopPropagation();
         });

      }) // close click event
    })

    $(function addToButton(){
      $('#add-to-button').click(function(){

        var previous_clip_id = $(this).attr('value')
        $('#clip_previous_clip_id').val(previous_clip_id)
        $('form.jam-clip').slideToggle();
      })
    })

    $(function downloadButton(){
      $('#add-to-button').click(function(){

        var previous_clip_id = $(this).attr('value')
        $('#clip_previous_clip_id').val(previous_clip_id)
        $('form.jam-clip').show();
      })
    })



  </script>
<% end %>
