<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="color:black;">
      <div id="play-button" class="btn btn-primary">
        Play
      </div>
      <div class="btn btn-primary">
        Download
      </div>
      <div class="btn btn-primary">
        Add To
      </div>
    </div>
  </div>
</div>

<div class="full-screen">
  <svg></svg>
  <div class="jam-circle">
    <p>
      <%= @jam_circle.user.name.capitalize %>
      -
      <%= @jam_circle.title %>
    </p>

    <% unless @jam_circle.description.blank? %>
      <p>
        <strong>Description:</strong>
        <%= @jam_circle.description %>
      </p>
    <% end %>

    <p>
      <%= @jam_circle.public ? 'Public' : 'Private' %>
      -
      <%= @jam_circle.open ? 'Open' : 'Closed' %>
    </p>

    <% if @jam_circle.user.id == session[:user_id]%>
      <%= link_to 'Edit Jam Circle', edit_jam_circle_path(@jam_circle) %>
    <% end %>


<div class="dashboard-music-player" style="display:none;">
  <div id="wrapper">
    <audio preload></audio>
    <ol>
    <% if @jam_circle.clips.any? %>
      <% @jam_circle.clips.each do |clip| %>
        <li>
          <a data-src='<%= clip.uploaded_file %>' href="#" id='clip<%= clip.id%>'>
            <span class="song-title">
              <%= clip.title ? clip.title : clip.uploaded_file_file_name %>
            </span>
            <span class="destroy-clip">X</span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ol>
  </div>

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

</div>

  <script>
    head();
    foot();
    $(treeBuilderTest(<%= @jam_circle.id %>));

    $(window).resize(function(){
      treeBuilderTest(<%= @jam_circle.id %>);
    });
  </script>
<% if @jam_circle.clips.any? %>
  <script>
    $ (function () {
    // Setup the player to autoplay the next track
      var a = audiojs.createAll({
      });

    // Load in the first track
      var audio = a[0];
      first = $('ol a').attr('data-src');
      $('ol li').first().addClass('playing');
      audio.load(first);

    // Load in a track on click
      $('ol li').click(function (e) {
        e.preventDefault();
        $(this).addClass('playing').siblings().removeClass('playing');
        audio.load($('a', this).attr('data-src'));
        audio.play();
      });

    });

    $(function playButton(){
      $('#play-button').click(function(){
        sumnum = $(this).attr('value');
        // console.log(sumnum)
        $('#clip'+sumnum).click();
      })
    })

  </script>
<% end %>
