<svg></svg>
<div class="jam-circle">
  <p>
    <%= @jam_circle.user.name.capitalize %>
    -
    <%= @jam_circle.title %>
  </p>

  <% unless @jam_circle.description.blank? %>
    <p>
      <strong>Description:</strong>
      <%= @jam_circle.description %>
    </p>
  <% end %>

  <p>
    <%= @jam_circle.public ? 'Public' : 'Private' %>
    -
    <%= @jam_circle.open ? 'Open' : 'Closed' %>
  </p>

  <% if @jam_circle.user.id == session[:user_id]%>
    <%= link_to 'Edit Jam Circle', edit_jam_circle_path(@jam_circle) %>
  <% end %>

</div>
