<div style="color:black">
  <%= form_for @clip, url: clips_create_path, html: { multipart: true } do |f| %>
    <%= hidden_field :user_id, session[:user_id] %>
    <%= f.label :instrument_id, 'Instrument' %>
    <!-- MAKE INSTRUMENTS TABLE AND USE THAT FOR THE DROPDOWN -->
    <%= f.select :instrument_id, options_for_select(['guitar','piano','flute','trumpet']) %>
    <%= f.label 'genre' %>
    <%= f.text_field 'genre' %><hr/>
    <%= f.file_field 'uploaded_file' %><hr/>
    <%= submit_tag 'Upload File' %>
  <% end %>
</div>
