<div style="margin-top:50%;">
  <%= form_for @clip, url: clips_create_path, html: { multipart: true } do |f| %><%# form_for %>
    <%= f.label 'instrument' %>
    <%= f.select 'instrument', options_for_select(['guitar','piano','flute','trumpet']) %>
    <%= f.label 'genre' %>
    <%= f.text_field 'genre' %><hr/>
    <%= file_field_tag 'uploaded_file' %><hr/>
    <%= submit_tag %>
  <% end %>
</div>
