<!--don't think this is used anymore! ask rails...-->

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Username" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= f.text_field :encrypted_password, placeholder: "Password" %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Add a line or two about yourself. (Optional)" %>
  </div>
  <div class="field">
    <%= f.number_field :zipcode, placeholder: "Zip Code" %>
  </div>
  <div class="field">
    <%= f.fields_for :influences do |ff| %>
      Influences:<br>
      name: <%= ff.text_field :name %><br>
    <% end %>
  </div>
  <div class="actions"><%= f.submit %>
  </div>
<% end %>
