<!--don't think this is used anymore! ask rails...-->
<div class="account-start">
  <span class="login-box">
    <h2>Sign Up</h2>
    <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.text_field :zipcode, placeholder: "Zipcode" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>
  </span>
</div>
