<div class="content-wrapper">
  <h2><%= @user.name %></h2>
  <span class="users-data">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Influences:</strong>
      <% @user.influences.each do |i| %>
      <p><%= i.name %></p>
      <% end %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @user.description %>
    </p>
    <p>
      <strong>Zipcode:</strong>
      <%= @user.zipcode %>
    </p>
    <p>
      Clips:
      <% @user.clips.each do |i| %>
      <a href="<%= i.uploaded_file %>"><%= i.title %></a>
      <% end %>
    </p>
    <p>
      Instruments:
      <% @user.instruments.each do |i| %>
      <p><%= i.name %></p>
      <% end %>
    </p>
    <p>
      Genres:
      <% @user.genres.map do |i| %>
      <p><%= i.name %></p>
      <% end %>
    </p>
  </span>
  <%= link_to 'Back', likes_path, class:"link-to-go-back" %>
</div>
