<div class="content-wrapper liked-profile">
  <h2>Contact <%= @user.name %>:</h2>
  <span class="users-data">


    <h3>
      <%= @user.email %>
    </h3>



    <% unless @user.profile_picture.blank? %>
      <%= image_tag @user.profile_picture.url, class:"profile-pic-account profile-pic" %>
    <% else %>
      <%= image_tag "default_profile_pic.jpg", class:"profile-pic-account profile-pic" %>
    <% end %>

    <!--
    <%= image_tag @user.profile_picture.url, class: "profile-pic" %>
  -->




<!--
    <h2>Influences</h2>
    <p>
      <% @user.influences.each do |i| %>
       <%= i.name  %>
       <% end %>
    </p>
-->



<!--
    <h2>Zipcode</h2>
    <p>
      <%= @user.zipcode %>
    </p>
-->


<!--
    <h2>Clips:</h2>
    <% @user.clips.each do |i| %>
    <a href="<%= i.uploaded_file %>" class:"preferences-label"><%= i.title %></a>
    <% end %>


      <h2>Instruments</h2>
      <p>
      <% @user.instruments.each do |i| %>
      <%= i.name %>
      <% end %>
    </p>



    <h2> Genres</h2>
    <p>
      <% @user.genres.map do |i| %>
      <%= i.name %>
        <% end %>
    </p>
-->

    <h2>Description</h2>
    <p>
      <%= @user.description %>
    </p>


  </span>
  <%= link_to 'Back', likes_path, class:"link-to-go-back" %>
</div>
