
<script>
$(function() {
  $("#draggableIcon").draggable({
        axis: 'x',
        stop: function(event, ui) {
             var pos = ui.helper.position(); // just get pos.top and pos.left
             if (pos.left < 50) {
               console.log ('LEFT SWIPE');
               $("#draggableIcon").css("color","red").fadeOut(1200);
               $('.swipe-feedback .swipe-left').click();
               $("#draggableIcon").css("color","#ffffff").fadeIn(1200);


             }

             else if (pos.left > 200) {
               console.log ('RIGHT SWIPE');
               $('.swipe-feedback .swipe-right').click();

               $("#draggableIcon").css("color","green").fadeOut(1200);
              }

            else {
              console.log('motherfucker');
            }
             console.log("left: " + pos.left);
             console.log("top: " + pos.top);
         },
  });





});








/*
$(function() {


  var x1=x2=y1=y2=0;

  $("#draggableIcon").draggable({
      revert: true,
      revertDuration: 100,
      axis: 'x',
      drag: function (e, ui){
          y2 = ui.position.top;
          x2 = ui.position.left;
          if(x2 > 100){ // RIGHT
            console.log('right swipe');
            $('.swipe-feedback .swipe-right').click();
            break;

        }

          if(x2 < -100){ // LEFT
            console.log("left swipe");
            $('.swipe-feedback .swipe-left').click();
            break;

          }

      },
      start: function(e, ui) {
          y1 = ui.position.top;
          x1 = ui.position.left;

      },
      stop: function(e, ui) {

      }
  });

});
*/

  </script>

<script>
  $ (function () {
  // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function () {
        var next = $('ol li.playing').next();
        if (!next.length)
          next = $('ol li').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load($('a', next).attr('data-src'));
        audio.play();
      }
    });

  // Load in the first track
    var audio = a[0];
    first = $('ol a').attr('data-src');
    $('ol li').first().addClass('playing');
    audio.load(first);

  // Load in a track on click
    $('ol li').click(function (e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($('a', this).attr('data-src'));
      audio.play();
    });

  });
</script>





<% if @results.blank? %>

  <div class="dashboard-music-player">
    <br /><br />
  <p> No Results, Sorry! </p>
</div>
<% else %>
  <div class="dashboard-music-player">

    <div id="wrapper">
      <audio preload autoplay></audio>
      <ol>
        <% @results.each do |clip| %>
          <li class="search-results-entries">
              <a href="#" data-src='<%= clip.uploaded_file %>' name='<%= clip.uploaded_file_file_name %>' value='<%= clip.id %>'>
                <span class="song-title">
                  <%= clip.title? ? clip.title.capitalize : clip.uploaded_file_file_name %>
                </span>
              </a>
          </li>
        <% end %>
      </ol>
    </div><!--close wrapper-->
  </div><!--close dashboard music player-->

  <div class="swipe-feedback">


        <i class="fa fa-music" id="draggableIcon"></i>

      <a href="#" class="swipe-left">No<a/>
      <a href="#" class="swipe-right">Yes</a>

      <div style="clear:both;"><!-- clear floats--></div>
      </div>

  </div>

<% end %>




<script>
  // global for now
  var counter = 0;
  var swipedCounter = 0;
  showFirst();


  // show first song on page load
  function showFirst(){
    $($('.search-results-entries')[0]).css("display","block");
  }


  // add songs to correct bucket
  $('.swipe-feedback .swipe-left').click(function() {
    // on click add the current song to dislikes
    var clip_id = $("ol li:visible a").attr('value');
    $.ajax({
      url: "/dislike_clip/" + clip_id,
      type: "POST",
    });
    //  play next song, hide the old one
    manageSongs();
    // check is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });

  $('.swipe-feedback .swipe-right').click(function() {
   // on click add the current song to likes
    var clip_id = $("ol li:visible a").attr('value');
    $.ajax({
      url: "/like_clip/" + clip_id,
      type: "POST",
    });
    // play next song, hide the old one
    manageSongs();
    // check is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });





  // FUNCTIONS

  // PLAY NEXT SONG & hide the previous one
  function manageSongs(){
    counter = counter + 1;
    $($('.search-results-entries')[counter]).css("display","block").click();
    $($('.search-results-entries')[counter-1]).css("display","none");

  }


  // IS GAME OVER?
  function gameOver() {
      var totalToGoThrough = $('.search-results-entries').length;
      if (swipedCounter === totalToGoThrough) {
        $('.swipe-feedback').css("display","none");
        console.log("that's all folks! reroute user to their likes.");
        window.location.href = "<%= root_url %>likes"

      }

  }

</script>
