<script type="text/javascript">
  $('#new_user_search').parsley();
</script>

<%= form_for search, url: search_path(search), method: :post do |f| %>
  <div>
    <%= f.label :zipcode, "Zip Code" %>
    <% if @default_search == false %>
      <%= f.text_field :zipcode, value: @user.zipcode, 'data-parsley-type' => 'number', 'data-parsley-minlength' => '5', 'data-parsley-maxlength' => '5', 'data-parsley-minlength-message' =>'Zip code should be 5 digits.', 'data-parsley-type-message' => 'Zip code should only be numbers.', 'data-parsley-trigger' => 'blur' %>
    <% else %>
      <%= f.text_field :zipcode, 'data-parsley-type' => 'number', 'data-parsley-minlength' => '5', 'data-parsley-maxlength' => '5', 'data-parsley-minlength-message' =>'Zip code should be 5 digits.', 'data-parsley-type-message' => 'Zip code should only be numbers.', 'data-parsley-trigger' => 'blur' %>
    <% end %>
  </div>
  <div>
    <%= f.label :radius, "Radius (in miles)" %>
    <% if @default_search == false %>
      <%= f.text_field :radius, min:1, max: 50, value: 10, 'data-parsley-type' => 'number', 'data-parsley-trigger' => 'blur' %>
    <% else %>
      <%= f.text_field :radius, min:1, max: 50, 'data-parsley-type' => 'number', 'data-parsley-trigger' => 'blur'  %>
    <% end %>
  </div>



  <div>
    <%= f.label :instrument, class:"select" do %>
      <%= f.collection_select :instrument_id, Instrument.all, :id, :name, include_blank: true %>
    <% end %>
  </div>


  <div>
    <%= f.label :genre, class:"select" do %>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true %>
    <% end %>
  </div>


  <div>
    <%= f.label :default_search, class:"checkbox" do %>
        <%= f.check_box :default_search, class:"checkbox-class"  %>
        <span class="checkbox-label">Save this search as default?</span>
    <% end %>
  </div>
  <div>
    <%= f.submit "Submit", id: "search-form-submit" %>
  </div>
<% end %>



<script>
$('#user_search_instrument_id').prepend('<option value="" selected disabled>Instrument</option>');
$('#user_search_genre_id').prepend('<option value="" selected disabled>Genre</option>');
</script>
