<%= form_for search, url: search_path(search), method: :post do |f| %>
  <div>

      <%= f.label :zipcode, "Zip Code" %>
    <%= f.text_field :zipcode, value: @user.zipcode, placeholder:"Zipcode" %>
  </div>
  <div>
    <%= f.label :radius, "Radius (in miles)" %> 
    <%= f.number_field :radius, max: 50, placeholder:"25" %>
  </div>
  <div>
    <%= f.label :instrument %>
    <%= f.collection_select :instrument_id, Instrument.all, :id, :name, include_blank: true%>
  </div>
  <div>
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: true%>
  </div>
  <div>
    <%= f.label :default_search, "Save this search as default?" %>
    <%= f.check_box :default_search %>
  </div>
  <div>
    <%= f.submit "Submit", id: "search-form-submit" %>
  </div>
<% end %>
