

<script>
$(function() {

  //1  this needs to run once to create all the hidden draggable icons
  foo();
  function foo(){

        var foo = $('.search-results-entries').length;
         console.log('icons foo is creating: ' + foo);
        var tempHTML = '<i class="fa fa-music draggableIcon" style="display:none;"></i>';
              for (x = 0; x < 200; x++){ // creating a huge queue of icons as a hack around counter issues
                $('.swipe-feedback').prepend(tempHTML).fadeIn(1200);
              }

  }
 //2 then another function needs to run that makes 1 visible when when disappearse
 // this is triggers on swipe event function below
  function bar() {
       console.log('counter @ bar: ' + counter);
       $($('.draggableIcon')[counter]).fadeIn(1500).css("display","block");

  }


  $(".draggableIcon").draggable({
        axis: 'x',
      //  revert: true,
        stop: function(event, ui) {
             var pos = ui.helper.position(); // just get pos.top and pos.left
             if (pos.left < 75) {
               console.log ('LEFT SWIPE');
                 console.log(pos.left);
               $(".draggableIcon:visible").css("color","red").fadeOut(1200,  function() { $(this).remove(); });
               $('.swipe-feedback .swipe-left').click();
               bar();

              }

             else if (pos.left > 100) {
               console.log ('RIGHT SWIPE');
               console.log(pos.left);
               $('.swipe-feedback .swipe-right').click();
               $(".draggableIcon:visible").css("color","green").fadeOut(1200,  function() { $(this).remove(); });
               bar();

              }
            else {
              console.log(pos.left + 'no left or right swipe');
            }
         },
  });

});

</script>

<script>
  $ (function () {
  // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function () {
        var next = $('ol li.playing').next();
        if (!next.length)
          next = $('ol li').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load($('a', next).attr('data-src'));
        audio.play();
      }
    });

  // Load in the first track
    var audio = a[0];
    first = $('ol a').attr('data-src');
    $('ol li').first().addClass('playing');
    audio.load(first);

  // Load in a track on click
    $('ol li').click(function (e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($('a', this).attr('data-src'));
      audio.play();
    });

  });
</script>


<% if @results.blank? %>

  <div class="dashboard-music-player">
    <br /><br />
  <p> No Results, Sorry! </p>
</div>
<% else %>
  <div class="dashboard-music-player">

    <div id="wrapper">
      <audio preload autoplay></audio>
      <ol>
        <% @results.each do |clip| %>
          <li class="search-results-entries">
              <a href="#" data-src='<%= clip.uploaded_file %>' name='<%= clip.uploaded_file_file_name %>' value='<%= clip.id %>'>
                <span class="song-title">
                  <%= clip.title? ? clip.title.capitalize : clip.uploaded_file_file_name %>
                </span>
              </a>
          </li>
        <% end %>
      </ol>
    </div><!--close wrapper-->
  </div><!--close dashboard music player-->

  <div class="swipe-feedback">


        <i class="fa fa-music draggableIcon"></i>

      <a href="#" class="swipe-left"><i class="fa fa-thumbs-down"></i><a/>
      <a href="#" class="swipe-right"><i class="fa fa-thumbs-up"></i></a>


      <div style="clear:both;"><!-- clear floats--></div>

      </div>
      <a href="#" class="swipe-skip">Skip</a>

  </div>

<% end %>




<script>
  // global for now
  var counter = 0;
  var swipedCounter = 0;
  showFirst();


  // show first song on page load
  function showFirst(){
    $($('.search-results-entries')[0]).css("display","block");
  }


  // add songs to correct bucket
  $('.swipe-feedback .swipe-left').click(function() {
    // on click add the current song to dislikes
    var clip_id = $("ol li:visible a").attr('value');
    $.ajax({
      url: "/dislike_clip/" + clip_id,
      type: "POST",
    });

    manageSongs();


    $(this).animate({
            color: "#f00",
          }, 300 ).animate({
            color: "#fff",
          }, 300 );

    // check is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });

  $('.swipe-feedback .swipe-right').click(function() {
   // on click add the current song to likes
    var clip_id = $("ol li:visible a").attr('value');
    $.ajax({
      url: "/like_clip/" + clip_id,
      type: "POST",
    });


    $(this).animate({
            color: "green",
          }, 300 ).animate({
            color: "#fff",
          }, 300 );

    manageSongs();
    // check is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });



  $('.swipe-skip').click(function() {
   // on click don't like or dislike song, but skip it

  // back-end stuff we might need to edit - url~  /skip-clip/ ? 
  //  var clip_id = $("ol li:visible a").attr('value');
  //  $.ajax({
  //    url: "/like_clip/" + clip_id,
  //    type: "POST",
  //  });


    manageSongs();
    // check is game over?
    swipedCounter = swipedCounter + 1;
    gameOver();
  });




  // FUNCTIONS

  // PLAY NEXT SONG & hide the previous one
  function manageSongs(){
    counter = counter + 1;
    $($('.search-results-entries')[counter]).css("display","block").click();
    $($('.search-results-entries')[counter-1]).css("display","none");

  }


  // IS GAME OVER?
  function gameOver() {
      var totalToGoThrough = $('.search-results-entries').length;
      if (swipedCounter === totalToGoThrough) {
        $('.swipe-feedback').css("display","none");
        console.log("that's all folks! reroute user to their likes.");
        window.location.href = "<%= root_url %>likes"

      }

  }

</script>
