<div class="dashboard dashboard-wrapper">
  <%= link_to "Music", music_path, class: "dashboard-button" %>
  <%= link_to "Search", search_path, class: "dashboard-button" %>
  <%= link_to "Profile", profile_path(session[:user_id]), class: "dashboard-button" %>
  <%= link_to "Likes", likes_path, class: "dashboard-button" %>
</div>

<%= render 'pages/cheat_activated' %>
<%= render 'pages/cheat_deactivated' %>

<%= image_tag asset_url('chrome_rim.png'), class: 'chrome-rim', style: 'display:none;' %>
