<script>
  var cheat_activated = new Audio("<%= asset_url('cheat_activated.mp3') %>");
  var audio = new Audio("<%= asset_url('gta_san_andreas_theme.mp3') %>");
  keyBoardListener();
</script>
<div class="dashboard dashboard-wrapper">
  <%= link_to "Search", search_path, class: "dashboard-button" %>

  <%= link_to "My Likes", likes_path, class: "dashboard-button" %>

  <%= link_to 'Jam Circle', jam_circles_path, class: "dashboard-button" %>

  <%= link_to "Account", profile_path(session[:user_id]), class: "dashboard-button" %>
</div>

<%= render 'pages/cheat_box' %>

<%= image_tag asset_url('chrome_rim.png'), class: 'chrome-rim' %>

<img id="gta"></img>
<img id="gta2"></img>
<img id="chain" src='<%= asset_url("chain_1.png") %>'></img>

<!-- <div class="progress" style="width:300px">
  <div class="progress-bar" style="width:20%">
  </div>
</div> -->
