<script>
  var cheat_activated = new Audio("<%= asset_url('cheat_activated.mp3') %>");
  var audio = new Audio("<%= asset_url('gta_san_andreas_theme.mp3') %>");
</script>
<div class="dashboard dashboard-wrapper">


  <%= link_to "Music", profile_path(session[:user_id]), class: "dashboard-button" %>

  <%= link_to "Search", search_path, class: "dashboard-button" %>

  <%= link_to "Likes", likes_path, class: "dashboard-button" %>

  <%= link_to "Account", edit_user_path(@user), class: "dashboard-button" %>

</div>

<%= render 'pages/cheat_box' %>

<%= image_tag asset_url('chrome_rim.png'), class: 'chrome-rim' %>

<img id="gta"></img>
<img id="gta2"></img>

<!-- <div class="progress" style="width:300px">
  <div class="progress-bar" style="width:20%">
  </div>
</div> -->
