<div class="content-wrapper liked-profile">
  <h2>Music You've Liked</h2>
  <% if @user.opinions.count != 0%>
    <script>
      $ (function () {
      // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function () {
            var next = $('ol li.playing').next();
            if (!next.length)
              next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });

      // Load in the first track
        var audio = a[0];
        first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);




      // Load in a track on click
        $('ol li').click(function (e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });


        // prevent click on profile button inside LI from also starting audio
        $('.likes-profile-button').click(function (e) {
          event.stopPropagation();
        });


      });
    </script>
    <div class="dashboard-music-player">
      <div id="wrapper" class="likes-page-music-player">
        <audio preload></audio>
        <ol class="likes-page-song-titles">
          <% @user.opinions.each do |opinion| %>
            <% if opinion.positive == true %>

              <li>
                <a href="#" data-src='<%= opinion.clip.uploaded_file %>'>
                <%= opinion.clip.user.name %> -
                <%= opinion.clip.title ? opinion.clip.title : opinion.clip.uploaded_file_file_name %>
                <%= opinion.clip.instrument ? "- " + opinion.clip.instrument.name : () %>
                <%= opinion.clip.genre ? "- " + opinion.clip.genre : () %>
                </a>

                <%= link_to 'Profile', user_path(opinion.clip.user.id), method: 'get', class:"likes-profile-button" %>

             </li>


            <% end %>
          <% end %>
        </ol>
      </div>
    </div>

  <% else %>

  <div class="dashboard-music-player">
    <p> No Likes yet! <br /><br />
       Go <%= link_to 'Search', search_path %> for musicians <br />
       to change this! </p>
  </div>

  <% end %>
  <%= link_to 'Back', root_path, class:"link-to-go-back" %>
</div>
