<div class="content-wrapper liked-profile">
  <%= link_to root_path, class:"chevron-back-link" do %>
      <i class="fa fa-chevron-left"></i>
  <% end %>


  <h2>Music You've Liked</h2>
  <% if @user.opinions.count != 0%>
    <script>
      $ (function () {
      // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function () {
            var next = $('.likes-page-music-player ol li.playing').next();
            if (!next.length)
              next = $('.likes-page-music-player ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });

      // Load in the first track
        var audio = a[0];
        first = $('.likes-page-music-player ol a').attr('data-src');
        $('.likes-page-music-player ol li').first().addClass('playing');
        audio.load(first);




      // Load in a track on click
        $('.likes-page-music-player ol li').click(function (e) {
          e.preventDefault();
          $(this).addClass('playing, test').siblings().removeClass('playing, test');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });


        // prevent all other clicks except the play button inside the LI from starting audio
        $('.profile-pic, .clip-info, .contact-user').click(function (e) {
          event.stopPropagation();
        });


        $('.play-circle-container').click(function(){
          $(this).addClass( "animated pulse");
          $('.play-circle-container').not(this).removeClass( "animated pulse");
         })

      });
    </script>
    <div class="dashboard-music-player">


      <div id="wrapper" class="likes-page-music-player">
        <audio preload></audio>
        <ol class="likes-page-song-titles">
          <% @user.opinions.each do |opinion| %>
            <% if opinion.positive == true %>

              <li>







           <div id="one">

             <div class="play-circle-container" id="animated-example">
              <a href="#" data-src='<%= opinion.clip.uploaded_file %>'>
               <i class="fa fa-play-circle"></i>
               </a>
             </div>


             <div class="clip-info">
              <%= opinion.clip.instrument ? "Instrument: " + opinion.clip.instrument.name : () %>
              <%= opinion.clip.genre ? "Genre: " + opinion.clip.genre : () %>
              <br />
              <span style="display:inline-block;padding-top:5px; font-style:italic"><%= opinion.clip.title ? opinion.clip.title : opinion.clip.uploaded_file_file_name %></span>
            </div>

         </div>


         <div id="two">
           <% user = Clip.find(opinion.clip_id).user %>


           <% unless user.profile_picture.blank? %>
             <%= image_tag user.profile_picture.url, class:"profile-pic-account profile-pic" %>
           <% else %>
             <%= image_tag "default_profile_pic.jpg", class:"profile-pic-account profile-pic" %>
           <% end %>



            <%= link_to user_path(opinion.clip.user.id), method: 'get', class:"contact-user" do %>
              Contact <%= opinion.clip.user.name %>
           <% end %>
         </div>



             </li>


            <% end %>
          <% end %>
        </ol>
      </div>
    </div>

  <% else %>

  <div class="dashboard-music-player">
    <p> No Likes yet! <br /><br />
       Go <%= link_to 'Search', search_path %> for musicians <br />
       to change this! </p>
  </div>

  <% end %>

</div>
