<div class="dashboard-wrapper music-wrapper">
  <h2>Play Sound Clip</h2>
  <div class="dashboard-music-player">
    <i class="fa fa-play-circle"></i>
  </div>
  <%= @clips.each do |clip| %>
    <p>
      <a href='<%= clip.uploaded_file %>'>
        <%= clip.uploaded_file_file_name %>
      </a>
    </p>
  <% end %>
  <%= link_to "Upload New Song", new_clip_path, class:"link-to-new-file" %>
<!--  <%= link_to "Add Musical Preferences", musical_preferences_path(session[:user_id]), class:"link-to-musical-preferences" %>-->
</div>
