<!--jquery ui and jquery mobile links for accordion -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script>
  $(function () {
    $("#accordion").accordion({
      header: "h3",
      collapsible: true,
      active: false,
      heightStyle: "content"
    });
  });
</script>

<div class="content-wrapper profile-wrapper" style="padding:0;">
  <h2>
    Music Menu
  </h2>

  <div collapsible="true" id="accordion">

<!--NEW SECTION-->
    <h3>Musical Preferences</h3>

    <div class="accordion-content">

      <span class="settings-header">My Instruments</span>
      <div id='instruments-container'>
        <%= render 'pages/user_instruments' %>
      </div>

      <span class="settings-header">My Genres</span>
      <div id='genres-container'>
        <%= render 'pages/user_genres' %>
      </div>

      <span class="settings-header">My Influences</span>
      <div id='influences-container'>
        <%= render 'pages/user_influences' %>
      </div>

      <span class="settings-header">Description</span>

      <%= form_for @user, url: { action: 'update', controller: 'users' } do |f| %>
      <div class="field">
        <%= f.text_area :description, placeholder: "About me" %>
      </div>
      <div class="field">
        <%= f.submit :Save %>
      </div>
      <% end %>

    </div>

<!--NEW SECTION-->
    <h3>Your Music</h3>
    <div class="accordion-content">
      <% if @clips.any? %>

      <div class="dashboard-music-player">
        <div id="wrapper">
          <audio preload></audio>
          <ol>
            <% @clips.each do |clip| %>
            <li>
              <a data-src='<%= clip.uploaded_file %>' href="#">
                <span class="song-title">
                  <%= clip.title ? clip.title : clip.uploaded_file_file_name %>
                </span>
              </a>
            </li>
            <% end %>
          </ol>
        </div>
      </div>

      <% else %>
      <center>
        <div>
          You do not have any audio clips!
          <br/>
          Upload some, quick!
        </div>
      </center>
      <% end %>
    </div>

<!---NEW SECTION--->
    <h3>Upload Music</h3>
    <div class="accordion-content">

      <div class="upload-wrapper">
        <p id="notice"><%= notice %></p>
        <%= form_for @clip, url: clips_create_path, html: { multipart: true } do |f| %>
        <% if @clip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clip.errors.count, "error") %>
            prohibited this activity from being saved:</h2>
          <ul>
            <% @clip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <%= f.hidden_field :user_id, :value => session[:user_id] %>

        <span class="upload-form">

          <%= f.text_field :title, placeholder: 'Title' %>

          <%= f.collection_select :instrument_id, Instrument.all, :id, :name, prompt: "Instrument", class:"upload-field-instrument" %>

          Do you want this to be a Demo Clip?  Demo clips must be less than 10 seconds long.

          <%= f.check_box :demo %>Yes

          <label class="fileContainer">

            Click To Upload Clip

            <%= f.file_field 'uploaded_file', class:"custom-file-input1" %>

          </label>

          <%= submit_tag 'Submit', class: "submit-clip" %>

          <center style="display: none;">

            <i class="fa fa-spinner fa-pulse"></i>

          </center>

        </span>

        <a class="upload-help" href="#">help</a>

        <% end %>

      </div>
      <script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
      <script type="text/javascript">
      $(function() {
        $('.upload-wrapper form').transloadit({
          wait: true,
          triggerUploadOnFileSelection: true,

          params: {
            auth: { key: "2f24b7202b0e11e58964e38e2b13e21e" },
            steps: {
              mp3: {
                use: ":original",
                robot: "/audio/encode",
                preset: "mp3"
              }
            }
          }
        });
      });
      </script>

    </div>
<!--CLOSE ACCORDION-->
  </div>
<!--CLOSE WRAPPER-->


<%= link_to "Back", root_path, class:"link-to-go-back" %>



  <% if @clips.any? %>
  <script>
    $ (function () {
    // Setup the player to autoplay the next track
      var a = audiojs.createAll({
        trackEnded: function () {
          var next = $('ol li.playing').next();
          if (!next.length)
            next = $('ol li').first();
          next.addClass('playing').siblings().removeClass('playing');
          audio.load($('a', next).attr('data-src'));
          audio.play();
        }
      });

    // Load in the first track
      var audio = a[0];
      first = $('ol a').attr('data-src');
      $('ol li').first().addClass('playing');
      audio.load(first);

    // Load in a track on click
      $('ol li').click(function (e) {
        e.preventDefault();
        $(this).addClass('playing').siblings().removeClass('playing');
        audio.load($('a', this).attr('data-src'));
        audio.play();
      });

    });
  </script>
  <% end %>
