<!--jquery ui and jquery mobile links for accordion -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script>
// initialize accordion menu
  $(function () {
    $("#accordion").accordion({
      header: "h3",
      collapsible: true,
      active: false,
      heightStyle: "content"
    });
  });
</script>



<div class="content-wrapper profile-wrapper" style="padding:0;">


  <%= link_to root_path, class:"chevron-back-link" do %>
      <i class="fa fa-chevron-left"></i>
  <% end %>


  <h2>
    Account Menu
  </h2>


  <div collapsible="true" id="accordion">
   <h3>Music Profile</h3>
     <div class="accordion-content">
      <span class="settings-header" style="margin-top:20px">My Instruments</span>
      <div id='instruments-container'>
        <%= render 'pages/user_instruments' %>
      </div>

      <span class="settings-header">My Genres</span>
      <div id='genres-container'>
        <%= render 'pages/user_genres' %>
      </div>

      <span class="settings-header">My Influences</span>
      <div id='influences-container'>
        <%= render 'pages/user_influences' %>
      </div>

      <span class="settings-header">Description</span>

      <%= form_for @user, url: { action: 'update', controller: 'users' } do |f| %>
      <div class="field">
        <%= f.text_area :description, placeholder: "About me" %>
      </div>
      <div class="field">
        <%= f.submit :Save %>
      </div>
      <% end %>
    </div>
    <h3>My Music</h3>
    <div class="accordion-content">
      <% if @clips.any? %>
      <div class="dashboard-music-player" style="padding-top:20px;">
        <div id="wrapper">
          <audio preload></audio>
          <ol>
            <% @clips.each do |clip| %>
            <li>
              <a data-src='<%= clip.uploaded_file %>' href="#" value='<%= clip.id %>'>
                <span class="song-title">
                  <%= clip.title ? clip.title : clip.uploaded_file_file_name %>
                </span>
                <span class="destroy-clip">x</span>
              </a>
            </li>
            <% end %>
          </ol>
        </div>
      </div>
      <% else %>
      <center>
        <div>
          You do not have any audio clips!
          <br/>
          Upload some, quick!
        </div>
      </center>
      <% end %>
    </div>
    <h3>Upload Music</h3>
    <div class="accordion-content">
      <div class="upload-wrapper">
        <p id="notice"><%= notice %></p>
        <%= form_for @clip, url: clips_create_path, html: { multipart: true } do |f| %>
        <% if @clip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@clip.errors.count, "error") %>
            prohibited this activity from being saved:</h2>
          <ul>
            <% @clip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <span class="upload-form" style="padding-top:0;margin-top:0;">
          <%= f.text_field :title, placeholder: 'Title', 'data-parsley-required' => 'true', 'data-parsley-trigger' => 'blur' %>
          <%= f.label :instrument, class:"select" do %>
          <%= f.collection_select :instrument_id, Instrument.all, :id, :name, prompt: "Instrument", class:"upload-field-instrument", 'data-parsley-required' => 'true' %>
        <% end %>
        <%= f.check_box :demo, class:"css-checkbox"  %>
        <%= f.label :demo, "Featured demo clip. (10 second max)", class:"css-label" %>
        <br /><br />
          <label class="fileContainer">
            Click to Upload Clip
            <%= f.file_field 'uploaded_file', class:"custom-file-input1",  'data-parsley-excluded' => 'false',  'data-required' => 'true', 'data-parsley-required' => 'true' %>
          </label>

        
        </span>
        <% end %>


      </div>
      <script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
      <script type="text/javascript">
      $(function() {
        $('.upload-wrapper form').transloadit({
          wait: true,
          triggerUploadOnFileSelection: true,

          params: {
            auth: { key: "2f24b7202b0e11e58964e38e2b13e21e" },
            steps: {
              mp3: {
                use: ":original",
                robot: "/audio/encode",
                preset: "mp3"
              }
            }
          }
        });
      });
      </script>
    </div>
        <h3>Account Settings</h3>
        <div class="accordion-content">
           <div class="account-settings-wrapper" style="margin-top:20px">
                <%= render 'users/form' %>
                <%= link_to 'Logout', logout_path, method: :delete, class:"rails-link" %>
           </div>
        </div>
</div>


<script>
/*
        $('.fileContainer').click(function(){
          $('.submit-clip-fake').css("display", "none");
          $('.file-message').css("display", "none");
          $('.submit-clip').css("display", "block");

        });

        $('.submit-clip-fake').click(function(){
          $('.file-message').css("display", "block");
        });

*/
        </script>



  <% if @clips.any? %>
  <script>
    $ (function () {
    // Setup the player to autoplay the next track
      var a = audiojs.createAll({
        trackEnded: function () {
          var next = $('ol li.playing').next();
          if (!next.length)
            next = $('ol li').first();
          next.addClass('playing').siblings().removeClass('playing');
          audio.load($('a', next).attr('data-src'));
          audio.play();
        }
      });

    // Load in the first track
      var audio = a[0];
      first = $('ol a').attr('data-src');
      $('ol li').first().addClass('playing');
      audio.load(first);

    // Load in a track on click
      $('ol li').click(function (e) {
        e.preventDefault();
        $(this).addClass('playing').siblings().removeClass('playing');
        audio.load($('a', this).attr('data-src'));
        audio.play();
      });

    });
  </script>
  <% end %>






<script>
// remove my music sound clip on X click from DOM
$('.destroy-clip').click(function() {
  event.stopPropagation();
  $(this).closest('li').fadeOut(500);
  var clip_id = $($(this).closest('a')[0]).attr("value")
  $.ajax({
    url: "/destroy_clip/" + clip_id,
    type: "DELETE",
  });

});

// bind upload clip form to parsleyjs
$('#new_clip').parsley();

</script>
