<div style="position: fixed; top: 200px;">
  <style>
    p, div h1, strong {
      color: black;
    }
  </style>
  <h1> Musical Preferences </h1>
  <strong> Welcome <%= @user.name %>! </strong>
  <%= form_for @user, url: { action: 'update', controller: 'users' } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :influences %>
    <%= f.text_field :influences %>
  </p>


  <div id='instruments-container'>
    <%= render partial: 'pages/user_instruments', locals: { user_instruments: @user_instruments } %>
  </div>

  <div id='genres-container'>
    <%= render partial: 'pages/user_genres', locals: { user_genres: @user_genres } %>
  </div>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>

  <% end %>


</div>
