<div style="position: fixed; top: 200px;">
  <h1> Musical Preferences </h1>
  <strong> Welcome <%= @user.name %>! </strong>
  <%= form_for @user, url: { action: "create", controller: 'devise/registrations' } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </p>

  <p>
    <%= f.label :current_password %>
    <%= f.text_field :current_password %>
  </p>


  <p>
    <%= f.submit %>
  </p>

  <% end %>


</div>
