<header>
  <h1><%= link_to "Jam Connect", root_path %></h1>

  <div class="header-profile">
    <% if session[:user_id] %>
      <%= link_to root_path do %>

              <% unless @user.profile_picture.blank? %>
                <%= image_tag @user.profile_picture.url, class:"profile-pic-account profile-pic" %>
              <% else %>
                <%= image_tag "default_profile_pic.jpg", class:"profile-pic-account profile-pic" %>
              <% end %>

      <!--  <%= image_tag @user.profile_picture.url, class: "profile-pic" %>-->
      <% end %>

      <%= link_to 'Jam Circles', jam_circles_path %>
    <% else %>
      <!--stuff to show up if not logged in, in top right header -->
    <% end %>
  </div>
</header>
