<header>
  <h1><%= link_to "Jam Connect", root_path %></h1>
  <div class="nav-bar">
    <ul>
      <% if session[:user_id] %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "new file", new_file_path %>
      </li>
      <li>
        <%= link_to "Logout", logout_path, method: :delete %>
      </li>
      <% else %>
        <!--stuff to show up if not logged in, in top right header -->
      <% end %>
    </ul>
  </div>
  <div class="header-profile">
    <% if session[:user_id] %>
      <%= link_to edit_user_path(@user) do %>
        <%= image_tag @user.profile_picture.url, class: "profile-pic" %>
      <% end %>
    <% else %>
      <!--stuff to show up if not logged in, in top right header -->
    <% end %>
  </div>
</header>
