<!DOCTYPE html>
<html>
<head>
  <title>MusicianToolbox</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body class="parallax">


  <header>
      <%= render 'layouts/header' %>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
