<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/8742021?v=3&amp;s=400">
    <title>Jam Connect</title>
    <meta content="width=device-width" name="viewport">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>


    <script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />
    <script type="text/javascript">
        $(function() {
          console.log('wtfff')
          $('#cropbox').Jcrop({
            onChange: update_crop,
            onSelect: update_crop,
            setSelect: [0, 0, 500, 500],
            aspectRatio: 1
          });
        })();

        function update_crop(coords) {
            console.log('update_crop running...')
            $('#crop_x').val(coords.x);
            $('#crop_y').val(coords.y);
            $('#crop_w').val(coords.w);
            $('#crop_h').val(coords.h);
          }



    </script>


  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <% if session[:user_id] %>

      <script>

        mobileDashboard();
        $(window).resize(function() {
          mobileDashboard();
        });

        // make mobile dashboard menu dynamically fit all screen sizes
        function mobileDashboard(){
            var parentHeight = $("body").height();
            var dashboardBlocks = $('.dashboard a')
            dashboardBlocks = dashboardBlocks.length
            var newHeight = ( (parentHeight - 30) / dashboardBlocks)
            // not sure why it's 20. the footer is 50px. but 20 fixes any issues.
            $('.dashboard-button').css("height",newHeight);

            // set line height on text so that it dynamically stays vertically centered
            $('.dashboard-button').css("line-height",newHeight+'px');
        }

        // make all other pages dynamically fit viewport height
        function mobileHeight() {
          var parentHeight = $("body").height();
          var newHeight = (parentHeight - 20)
          $('.content-wrapper').css("height",newHeight);
        }

      </script>

    <% end %>

  </body>
</html>
