<!DOCTYPE html>
<html>
  <head>
    <title>MusicianToolbox</title>
    <meta content="width=device-width" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>

  <%= session[:user_id] ? '<body>'.html_safe : '<body class="parallax">'.html_safe %>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>

   <footer>
    <% if @user %>
      <%= render 'layouts/footer' %>
    <% end %>
    </footer>




<% if session[:user_id] %>
<script>
mobileDashboard(); // run on load to adjust menu for mobile screens
$( window ).resize(function() { mobileDashboard(); });// run when resizing the window to cover our tracks

function mobileDashboard(){ // make mobile dashboard menu dynamically fit all screen sizes
  var parentHeight = $("body").height();
  var footerHeight = $('footer').height();
  var dashboardBlocks = $('.dashboard a')
  dashboardBlocks = dashboardBlocks.length
  var newHeight = ( (parentHeight - footerHeight) / dashboardBlocks)
  $('.dashboard-button').css("height",newHeight);
}
    </script>
    <% end %>

  </body>

</html>
