<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "http://icons.iconarchive.com/icons/rade8/minium-2/256/Sidebar-Music-icon.png"%>
    <title>Jam Connect</title>
    <meta content="width=device-width" name="viewport">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <% if session[:user_id] %>

      <script>

        mobileDashboard();
        $(window).resize(function() {
          mobileDashboard();
        });

        // make mobile dashboard menu dynamically fit all screen sizes
        function mobileDashboard(){
            var parentHeight = $("body").height();
            var dashboardBlocks = $('.dashboard a')
            dashboardBlocks = dashboardBlocks.length
            var newHeight = ( (parentHeight - 30) / dashboardBlocks)
            // not sure why it's 20. the footer is 50px. but 20 fixes any issues.
            $('.dashboard-button').css("height",newHeight);

            // set line height on text so that it dynamically stays vertically centered
            $('.dashboard-button').css("line-height",newHeight+'px');
        }

        // make all other pages dynamically fit viewport height
        function mobileHeight() {
          var parentHeight = $("body").height();
          var newHeight = (parentHeight - 20)
          $('.content-wrapper').css("height",newHeight);
        }

      </script>

    <% end %>


<script>
$ (function () {
      $('input').on('focus', function(){
          $('footer').css("display","none"); // footer.css({position:'absolute'});
          $('header').css)"position","absolute");
      });
      $('input').on('blur', function(){
         $('footer').css("display","block");
         $('header').css)"position","fixed");
      });




});</script>



  </body>
</html>
