<!DOCTYPE html>
<html>
<head>
  <title>MusicianToolbox</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
</head>

<% unless current_user %>
<body class="parallax">
<% end %>

<% if current_user %>
<body>
<% end %>


  <header>
   <%= render 'layouts/header' %>
  </header>


  <div class="container">
    <%= yield %>
  </div>

  <% if current_user %>
   <footer>
    <div class="footer-links">
               <%= link_to "Home", root_path %>
               <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"justify-footer" %>
     </div>
   </footer>
   <% end %>


</body>
</html>
